################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/out/build/x64-debug/.cmake
/out/build/x64-debug/CmakeFiles
/out/build/x64-debug/Testing
/out/build/x64-debug/vcpkg_installed
/out/build/x64-debug/.ninja_deps
/out/build/x64-debug/build.ninja
/out/build/x64-debug/CMakeCache.txt
/out/build/x64-debug/cmake_installed.cmake
/out/build/x64-debug/vcpkg-manifest-install.log
/out/build/x64-debug/.ninja_log
/out/build/x64-debug/cmake_install.cmake

/out/build/x64-debug/VSInheritEnvironments.txt
/out/build/x64-debug/CMakeProject1/CMakeFiles/CMakeProject1.dir
/out/build/x64-debug/GravityObject.ixx.ifc.dt.module.json
/out/build/x64-debug/GravityObject.ixx.ifc.dt.module.json.command
/out/build/x64-debug/GravityObject.ixx.ifc.dt.d.json
